{% extends "base.html.j2" %}
{% import 'widgets.html.j2' as widgets %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="homepage">
        <!-- Section 1: Table and List -->
        <div class="main-section">
            <div class="side-by-side">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div><h2>Hunters</h2></div>
                    <div>
                        <div class="btn-group" id="update-js" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary" payload="lb-week">Week</button>
                            <button type="button" class="btn btn-primary" payload="lb-month">Month</button>
                            <button type="button" class="btn btn-primary" payload="lb-all">All time</button>
                        </div>
                    </div>
                </div>
                <div class="scrollable-table table-300 border rounded">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Games</th>
                                <th>Achievements</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody id="lb">
                            {% for user in users %}
                            <tr>
                                <td><img src="/static/img{{ user.UserPic }}" width=24> <a href="/user/{{ user.User}}">{{ user.User }}{% if user.Permissions == 2 %}🔧{% endif %}</a></td>
                                <td>{{ user.GamesMastered }} / {{ user.Games }}</td>
                                <td>{{ user.Achievements }}</td>
                                <td>{{ user.TotalPoints }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="side-by-side">
                <h2>Recent achievements</h2>
                <ul class="list-group list-group-flush scrollable-list border rounded">
                    {% for achievement in achievements%}
                    <li class="list-group-item achievement">
                        <div style="vertical-align: top; display: inline-block; ">
                            <img src="/static/img{{ achievement.ImageIcon }}">
                            <img src="/static/img/Badge/{{ achievement.BadgeName }}.png">
                        </div>
                        <div style="display: inline-block; width: calc(100% - 140px) ">
                            <div style="display: inline-block; width: calc(100% - 10em)">
                                <a href="/user/{{ achievement.User}}">{{ achievement.User }}</a> unlocked {{ achievement.aTitle }} in <a href="/game/{{ achievement.ID }}?u={{ achievement.User }}">{{ achievement.gTitle }}</a> 
                            </div>
                            <div style="display: inline-block; position:absolute; right:0;">{{achievement.DateEarned}}</div>
                            <div>
                                {{ achievement.Description }}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div style="text-align:center; margin-top: 1.5rem"><a href="/games" class="btn btn-primary" role="button">Games</a></div>
        <!-- Section 2: Grid of Elements -->
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Groups Wants to Play list</b></div><div><a onclick="window.open('widget/wtpg', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(wtpg) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Weekly points graph</b></div><div><a onclick="window.open('widget/weeklypoints', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div>
                    {{ widgets.widget_pointsgraph(pointsgraph) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Mastered games</b></div><div><a onclick="window.open('widget/mastered', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(mastered) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Set requests</b></div><div><a onclick="window.open('widget/srq', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(srq) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Element 1</b></div><div><a onclick="window.open('widget/wtpg', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div></div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Element 1</b></div><div><a onclick="window.open('widget/wtpg', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div></div>
            </div>
        </div>
    </div>
    <script src="/static/js/update.js"></script>
{% endblock %}