{% extends "base.html.j2" %}
{% import 'widgets.html.j2' as widgets %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="homepage">
        <!-- Section 1: Table and List -->
        <div class="main-section">
            <div class="side-by-side">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div><h2>Hunters</h2></div>
                    <div>
                        <div class="btn-group" id="update-js" role="group">
                            <button type="button" class="btn btn-primary" payload="hunters-week">Week</button>
                            <button type="button" class="btn btn-primary" payload="hunters-month">Month</button>
                            <button type="button" class="btn btn-primary" payload="hunters-all">All time</button>
                        </div>
                    </div>
                </div>
                <div class="scrollable-table table-300 border rounded">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Games</th>
                                <th>Achievements</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody id="hunters">
                            {{ widgets.widget_hunters(users, "") }}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="side-by-side">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div><h2>Activity feed</h2></div>
                    <div>
                        <div class="btn-group" id="update-js" role="group">
                            <button type="button" class="btn btn-primary" payload="feed-achievements">Achievements</button>
                            <button type="button" class="btn btn-primary" payload="feed-combined">Both</button>
                            <button type="button" class="btn btn-primary" payload="feed-leaderboards">Leaderboards</button>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush scrollable-list border rounded" id="feed">
                    {{ widgets.widget_feed(achievements, "") }}
                </ul>
            </div>
        </div>
        <div style="text-align:center; margin-top: 1.5rem"><a href="/games" class="btn btn-primary" role="button">Games</a></div>
        <!-- Section 2: Grid of Elements -->
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Groups Wants to Play list</b></div><div><a onclick="window.open('widget/wtpg', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(wtpg, cstyles.widget_table) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Weekly points graph</b></div><div><a onclick="window.open('widget/weeklypoints', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div>
                    {{ widgets.widget_pointsgraph(pointsgraph, cstyles.widget_graph) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Mastered games</b></div><div><a onclick="window.open('widget/mastered', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(mastered, cstyles.widget_table) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Set requests</b></div><div><a onclick="window.open('widget/srq', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(srq, cstyles.widget_table) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Element 1</b></div><div><a onclick="window.open('widget/wtpg', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div></div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Element 1</b></div><div><a onclick="window.open('widget/wtpg', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue;"></i></a></div></div>
                <div></div>
            </div>
        </div>
    </div>
    <script src="/static/js/update.js"></script>
{% endblock %}