{% extends "base.html.j2" %}
{% import 'widgets.html.j2' as widgets %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="homepage">
        <!-- Section 1: Table and List -->
        <div class="row row-cols-md-1 row-cols-lg-2">
            <div class="col">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div><h2 style="display:inline">Hunters</h2><a onclick="window.open('widget/hunters', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue; cursor: pointer;"></i></a></div>
                    <div>
                        <div class="btn-group" id="update-js" role="group">
                            <button type="button" class="btn btn-primary" payload="hunters-week">Week</button>
                            <button type="button" class="btn btn-primary" payload="hunters-month">Month</button>
                            <button type="button" class="btn btn-primary" payload="hunters-all">All time</button>
                        </div>
                    </div>
                </div>
                <div id="hunters">
                    {{ widgets.widget_hunters(users, cstyles.widget_hunters) }}
                </div>
            </div>
            <div class="col">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div><h2 style="display:inline">Activity feed</h2><a onclick="window.open('widget/activity-feed', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue; cursor: pointer;"></i></a></div>
                    <div>
                        <div class="btn-group" id="update-js" role="group">
                            <button type="button" class="btn btn-primary" payload="feed-achievements">Achievements</button>
                            <button type="button" class="btn btn-primary" payload="feed-combined">Both</button>
                            <button type="button" class="btn btn-primary" payload="feed-leaderboards">Leaderboards</button>
                        </div>
                    </div>
                </div>
                <div id="feed">
                    {{ widgets.widget_feed(achievements, cstyles.widget_feed) }}
                </div>
            </div>
        </div>
        <div style="text-align:center; margin-top: 1.5rem"><a href="/games" class="btn btn-primary" role="button">Games</a></div>
        <!-- Section 2: Grid of Elements -->
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Recent Masteries</b></div><div><a onclick="window.open('widget/masteries', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue; cursor: pointer;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(masteries, cstyles.widget_table) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Weekly points graph</b></div><div><a onclick="window.open('widget/weeklypoints', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue; cursor: pointer;"></i></a></div></div>
                <div>
                    {{ widgets.widget_pointsgraph(pointsgraph, cstyles.widget_graph) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Most mastered games</b></div><div><a onclick="window.open('widget/mastered', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue; cursor: pointer;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(mastered, cstyles.widget_table) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Groups Wants to Play list</b></div><div><a onclick="window.open('widget/wtpg', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue; cursor: pointer;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(wtpg, cstyles.widget_table) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Set requests</b></div><div><a onclick="window.open('widget/srq', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue; cursor: pointer;"></i></a></div></div>
                <div>
                    {{ widgets.widget_list_gamebyuser(srq, cstyles.widget_table) }}
                </div>
            </div>
            <div class="col"><div style="display: flex; justify-content: space-between; align-items: center;"><div><b>Element 1</b></div><div><a onclick="window.open('widget/wtpg', 'mypopuptitle', 'width=600,height=300')"><i class="bi bi-box-arrow-up-right" style="color:aliceblue; cursor: pointer;"></i></a></div></div>
                <div></div>
            </div>
        </div>
    </div>
    <script src="/static/js/update.js"></script>
{% endblock %}