{% extends "base.html.j2" %}

{% block content %}
    <div class="gamepage">
        I'm doing a thing.<br>
        I'm working on this site to learn some Flask and Bootstrap and what else on the way.
        Also for fun. Currently, I'm still having fun 👍️<br>
        <br>
        Current plans:<br>
        <ul>
            <li>Make everything more better, obviously</li>
            <li>Figuring out compiling bootstrap with custom theme</li>
            <li>Work on game page, add people who played the game, comparison mode</li>
            <li>More small boxes on main page</li>
            <li>Ability to popup certain elements, and use them as source in OBS?</li>
            <li>Page autoupdating, either by pushing updates, or autorefreshing page</li>
        </ul>
    </div>
{% endblock %}